docs/develop/power_app/DistTools2024-1-30_20240130104753/Microsoft.Flow/flows/3309c865-b490-47db-96f5-6f2db102e284/definition.json
{"name":"1068ede2-89db-e97d-0852-4382f7c0173f","id":"/providers/Microsoft.Flow/flows/1068ede2-89db-e97d-0852-4382f7c0173f","type":"Microsoft.Flow/flows","properties":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_logicflows","displayName":"getAttachData","definition":{"metadata":{"workflowEntityId":"7839cee2-2c95-ee11-be37-000d3a2d29bc","processAdvisorMetadata":null,"flowChargedByPaygo":null,"flowclientsuspensionreason":"None","flowclientsuspensiontime":null,"flowclientsuspensionreasondetails":null,"creator":{"id":"7ca1e9bf-54ba-4f5c-980f-4077d287197e","type":"User","tenantId":"aec0543a-cc73-4fa4-9e2a-cf52adf9b788"},"provisioningMethod":"FromDefinition","failureAlertSubscription":true,"clientLastModifiedTime":"2023-12-12T12:27:18.4754101Z","connectionKeySavedTimeKey":"2023-12-12T12:27:18.4754101Z"},"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"manual":{"metadata":{"operationMetadataId":"532baffb-eeac-456f-ba07-4cdaaa6cd465"},"type":"Request","kind":"PowerAppV2","inputs":{"schema":{"type":"object","properties":{"boolean":{"title":"Yes/No","type":"boolean","x-ms-dynamically-added":true,"description":"Please select yes or no","x-ms-content-hint":"BOOLEAN"},"number":{"title":"Number","type":"number","x-ms-dynamically-added":true,"description":"Please enter a number","x-ms-content-hint":"NUMBER"}},"required":["boolean","number"]}}}},"actions":{"Get_attachments":{"runAfter":{"Get_item":["Succeeded"]},"metadata":{"operationMetadataId":"f876d119-6d86-4e26-9e93-d2c75d29d606"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"GetItemAttachments"},"parameters":{"dataset":"https://biomerieux.sharepoint.com/sites/Clinical_Operations-China_Distributor_territory-China","table":"41e1e02b-eadd-4c3a-b251-2318b1fbff1f","itemId":"@triggerBody()['number']"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}},"Apply_to_each":{"foreach":"@body('Get_attachments')","actions":{"Get_file_content":{"runAfter":{},"metadata":{"operationMetadataId":"5a43da01-43cf-47bd-a7d6-73f7a395a418"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"GetFileContent"},"parameters":{"dataset":"https://biomerieux.sharepoint.com/sites/Clinical_Operations-China_Distributor_territory-China","id":"@item()?['Id']","inferContentType":true},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}},"Compose":{"runAfter":{"Get_file_content":["Succeeded"]},"metadata":{"operationMetadataId":"bc534651-6c40-4048-ab87-8b97373f0eaf"},"type":"Compose","inputs":"@body('Get_file_content')"},"Condition":{"actions":{"Update_item_for_industry":{"runAfter":{},"metadata":{"operationMetadataId":"d1feb393-28c2-4334-8c12-9cf9d66ad996"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"PatchItem"},"parameters":{"dataset":"https://biomerieux.sharepoint.com/sites/Clinical_Operations-China_Distributor_territory-China","table":"41e1e02b-eadd-4c3a-b251-2318b1fbff1f","id":"@triggerBody()['number']","item/field_11":"@outputs('Compose')"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}}},"runAfter":{"Compose":["Succeeded"]},"else":{"actions":{"Update_item_for_clinic":{"runAfter":{},"metadata":{"operationMetadataId":"f7cf4f95-2dd4-4d7e-b0c4-eed0371907af"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"PatchItem"},"parameters":{"dataset":"https://biomerieux.sharepoint.com/sites/Clinical_Operations-China_Distributor_territory-China","table":"41e1e02b-eadd-4c3a-b251-2318b1fbff1f","id":"@outputs('Get_item')?['body/ID']","item/Hosptial":"@outputs('Compose')"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}}}},"expression":{"equals":["@triggerBody()['boolean']",true]},"metadata":{"operationMetadataId":"313d1edf-f48f-4579-93b8-1421763b4556"},"type":"If"}},"runAfter":{"Get_attachments":["Succeeded"]},"metadata":{"operationMetadataId":"734cca47-5e0f-4a31-882a-901d7c468ebc"},"type":"Foreach"},"Get_item":{"runAfter":{},"metadata":{"operationMetadataId":"7248b93a-0b24-4ca5-9308-98a8d5e5c2ea"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"GetItem"},"parameters":{"dataset":"https://biomerieux.sharepoint.com/sites/Clinical_Operations-China_Distributor_territory-China","table":"41e1e02b-eadd-4c3a-b251-2318b1fbff1f","id":"@triggerBody()['number']"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}}}},"connectionReferences":{"shared_sharepointonline":{"connectionName":"shared-sharepointonl-c74d3eb8-7ee7-4a42-85ed-3f538e7c9872","source":"Invoker","id":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","tier":"NotSpecified"}},"flowFailureAlertSubscribed":false,"isManaged":false}}