docs/develop/power_app/DistTools2024-1-30_20240130104753/Microsoft.Flow/flows/4a2bee46-f839-4818-9aaa-49c44cd73fcc/definition.json
{"name":"8fad99d8-dfa2-a927-4010-571cebc7adb2","id":"/providers/Microsoft.Flow/flows/8fad99d8-dfa2-a927-4010-571cebc7adb2","type":"Microsoft.Flow/flows","properties":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_logicflows","displayName":"createDistUserContract","definition":{"metadata":{"workflowEntityId":"3892b52b-68b7-ee11-a569-000d3a2d29bc","processAdvisorMetadata":null,"flowChargedByPaygo":null,"flowclientsuspensionreason":"None","flowclientsuspensiontime":null,"flowclientsuspensionreasondetails":null,"creator":{"id":"7ca1e9bf-54ba-4f5c-980f-4077d287197e","type":"User","tenantId":"aec0543a-cc73-4fa4-9e2a-cf52adf9b788"},"provisioningMethod":"FromDefinition","failureAlertSubscription":true,"clientLastModifiedTime":"2024-01-22T18:02:25.4342338Z","connectionKeySavedTimeKey":"2024-01-22T18:02:25.4342338Z"},"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"manual":{"metadata":{"operationMetadataId":"4ba6c92c-cf79-43ba-94ed-d642d31aabfd"},"type":"Request","kind":"PowerAppV2","inputs":{"schema":{"type":"object","properties":{"number":{"title":"DistID","type":"number","x-ms-dynamically-added":true,"description":"Please enter a number","x-ms-content-hint":"NUMBER"},"number_1":{"title":"ContractID","type":"number","x-ms-dynamically-added":true,"description":"Please enter a number","x-ms-content-hint":"NUMBER"}},"required":["number","number_1"]}}}},"actions":{"Initialize_variable":{"runAfter":{},"metadata":{"operationMetadataId":"8b36830c-eb78-49e5-b4db-cbee36004af7"},"type":"InitializeVariable","inputs":{"variables":[{"name":"contractItem","type":"array"}]}},"Get_Dist":{"runAfter":{"Initialize_ListCust":["Succeeded"]},"metadata":{"operationMetadataId":"dde14a73-9a4d-49d5-876f-7bf4a0b93108"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"GetItem"},"parameters":{"dataset":"https://biomerieux.sharepoint.com/sites/Clinical_Operations-China_Distributor_territory-China","table":"8d32f300-2e1e-438e-9d31-e20010fb60c8","id":"@triggerBody()['number']"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}},"Get_contract":{"runAfter":{"Get_Dist":["Succeeded"]},"metadata":{"operationMetadataId":"ddf15bf3-a9fb-4bb8-b737-33bf68bf9b0d"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"GetItem"},"parameters":{"dataset":"https://biomerieux.sharepoint.com/sites/Clinical_Operations-China_Distributor_territory-China","table":"74bbee9c-d61e-4b61-968b-639f880e7e25","id":"@triggerBody()['number_1']"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}},"Get_contract_items":{"runAfter":{"Get_contract":["Succeeded"]},"metadata":{"operationMetadataId":"ebcbefa4-d7cb-458c-bc2e-104b8d3fa663"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"GetItems"},"parameters":{"dataset":"https://biomerieux.sharepoint.com/sites/Clinical_Operations-China_Distributor_territory-China","table":"41e1e02b-eadd-4c3a-b251-2318b1fbff1f","$filter":"Contract/ID eq @{triggerBody()['number_1']}"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}},"Apply_to_contract_line":{"foreach":"@outputs('Get_contract_items')?['body/value']","actions":{"Append_to_array_variable":{"runAfter":{},"metadata":{"operationMetadataId":"4f8cae37-3a00-411c-8ddc-3a9cff2f57ab"},"type":"AppendToArrayVariable","inputs":{"name":"contractItem","value":{"LineName":"@items('Apply_to_contract_line')?['ProductLine0']","customer":"@items('Apply_to_contract_line')?['Hosptial']"}}}},"runAfter":{"Get_contract_items":["Succeeded"]},"metadata":{"operationMetadataId":"6803492a-43db-481f-964f-7505e8fa0c86"},"type":"Foreach"},"Select_product":{"runAfter":{"Apply_to_contract_line":["Succeeded"]},"metadata":{"operationMetadataId":"7dd9558f-f9af-4182-bc39-194b37a051e2"},"type":"Select","inputs":{"from":"@variables('contractItem')","select":{"LineName":"@item()['LineName']"}}},"Create_file":{"runAfter":{"Populate_a_Microsoft_Word_template":["Succeeded"]},"metadata":{"operationMetadataId":"eafb384d-6853-4fb4-b905-179d2f23281c"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"CreateFile"},"parameters":{"dataset":"https://biomerieux.sharepoint.com/sites/Clinical_Operations-China_Distributor_territory-China","folderPath":"/Shared Documents/General/contract-doc","name":"@outputs('Compose_fname')","body":"@body('Populate_a_Microsoft_Word_template')"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}},"runtimeConfiguration":{"contentTransfer":{"transferMode":"Chunked"}}},"Compose_fname":{"runAfter":{"Select":["Succeeded"]},"metadata":{"operationMetadataId":"d4772d6d-4d76-4b03-9008-67c1cbdfc455"},"type":"Compose","inputs":"@concat(outputs('Get_contract')?['body/Distributor/Value'],'-User-',outputs('Get_contract')?['body/Title'],'.docx')"},"Get_files_(properties_only)":{"runAfter":{"Compose_fname":["Succeeded"]},"metadata":{"operationMetadataId":"6bd0d12e-e2d3-4fe8-ab62-2b02485eb503"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"GetFileItems"},"parameters":{"dataset":"https://biomerieux.sharepoint.com/sites/Clinical_Operations-China_Distributor_territory-China","table":"1cbefee5-dd57-4603-96a3-efcbe5dfbd09","folderPath":"/Shared Documents/General/contract-doc","$filter":"FileLeafRef eq '@{outputs('Compose_fname')}'"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}},"Apply_to_each_2":{"foreach":"@outputs('Get_files_(properties_only)')?['body/value']","actions":{"Delete_file":{"runAfter":{},"metadata":{"operationMetadataId":"73d6e45c-3ac3-427b-bd32-d59500c80aaf"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"DeleteFile"},"parameters":{"dataset":"https://biomerieux.sharepoint.com/sites/Clinical_Operations-China_Distributor_territory-China","id":"@items('Apply_to_each_2')?['{Identifier}']"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}}},"runAfter":{"Get_files_(properties_only)":["Succeeded"]},"metadata":{"operationMetadataId":"d8183207-f181-4277-b96a-6539afc73491"},"type":"Foreach"},"Get_file_content_using_path":{"runAfter":{"Create_file":["Succeeded"]},"metadata":{"operationMetadataId":"9de6559b-b69f-41e7-b0e7-357c9c163f94"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"GetFileContentByPath"},"parameters":{"dataset":"https://biomerieux.sharepoint.com/sites/Clinical_Operations-China_Distributor_territory-China","path":"@outputs('Create_file')?['body/Path']","inferContentType":true},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}},"Send_an_email_(V2)":{"runAfter":{"Get_file_content_using_path":["Succeeded"]},"metadata":{"operationMetadataId":"d59a461f-ba79-4e8f-80b6-44d7b7d4d938"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_office365","connectionName":"shared_office365","operationId":"SendEmailV2"},"parameters":{"emailMessage/To":"@outputs('Get_contract')?['body/Author/Email']","emailMessage/Subject":"contract created ","emailMessage/Body":"<p>合同文件 @{outputs('Compose_fname')}：<br>\n<br>\n@{outputs('Create_file')?['body/Path']}</p>","emailMessage/Attachments":[{"Name":"@outputs('Compose_fname')","ContentBytes":"@body('Get_file_content_using_path')"}],"emailMessage/Importance":"Normal"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}},"Select_cust":{"runAfter":{"Select_product":["Succeeded"]},"metadata":{"operationMetadataId":"04867768-e848-4a93-99e7-42c28439a938"},"type":"Select","inputs":{"from":"@variables('contractItem')","select":{"CustName":"@item()['customer']"}}},"Populate_a_Microsoft_Word_template":{"runAfter":{"Apply_to_each_2":["Succeeded"]},"metadata":{"01PAH2E67C7UGCKBQ7H5BL5B6PVXCRYPR3":"/General/wordtemplate/2023bid.docx","operationMetadataId":"dd1d6cce-859f-4ebb-a0cf-bc70e32bd5fb","01PAH2E64JRVJSY6NQOFCJC4KD26CHBAXP":"/General/wordtemplate/DistUserContract.docx"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_wordonlinebusiness","connectionName":"shared_wordonlinebusiness","operationId":"CreateFileItem"},"parameters":{"source":"groups/305c9794-3344-474f-b326-710f84600f5a","drive":"b!59f_zl2n2k6EQ0KtYfxLDeap8kR86yFLlWzwPHbH_unl_r4cV90DRpaj78vl370J","file":"01PAH2E64JRVJSY6NQOFCJC4KD26CHBAXP","dynamicFileSchema/606704537":"@outputs('Get_contract')?['body/AuthType/Value']","dynamicFileSchema/1391915442":"@formatDateTime(outputs('Get_contract')?['body/field_3'],'yyyy\"年\"MM\"月\"dd\"日\"' )","dynamicFileSchema/1437339839":"@body('Select')","dynamicFileSchema/1793015572":"@formatDateTime(outputs('Get_contract')?['body/field_4'],'yyyy\"年\"MM\"月\"dd\"日\"' )","dynamicFileSchema/1851532287":"@outputs('Get_Dist')?['body/Title']","dynamicFileSchema/-236404127":"@body('Select_product')","dynamicFileSchema/-1853482417":"@formatDateTime(outputs('Get_contract')?['body/field_3'],'yyyy\"年\"MM\"月\"dd\"日\"' )"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}},"Initialize_ListCust":{"runAfter":{"Initialize_variable":["Succeeded"]},"metadata":{"operationMetadataId":"2c1c7380-8d53-4773-a82d-7de023d918c0"},"type":"InitializeVariable","inputs":{"variables":[{"name":"listCust","type":"array"}]}},"Apply_to_each":{"foreach":"@body('Select_cust')","actions":{"Compose":{"runAfter":{},"metadata":{"operationMetadataId":"ad119b96-7777-40fd-94c5-b728f45c9719"},"type":"Compose","inputs":"@split(items('Apply_to_each')?['CustName'],',')"},"Apply_to_each_3":{"foreach":"@outputs('Compose')","actions":{"Append_to_array_listCust":{"runAfter":{},"metadata":{"operationMetadataId":"3a6fecc5-c375-44d4-8214-57ef4d2960d4"},"type":"AppendToArrayVariable","inputs":{"name":"listCust","value":{"cust":"@items('Apply_to_each_3')"}}}},"runAfter":{"Compose":["Succeeded"]},"metadata":{"operationMetadataId":"4c1eb2d1-c43c-407f-a0b5-ae24fafb76ce"},"type":"Foreach"}},"runAfter":{"Select_cust":["Succeeded"]},"metadata":{"operationMetadataId":"f81ce5ed-a94a-46ed-9bf7-317e4d6ef1eb"},"type":"Foreach"},"Select":{"runAfter":{"Apply_to_each":["Succeeded"]},"metadata":{"operationMetadataId":"a5fce9ac-4441-44d4-9a5b-f097662556bd"},"type":"Select","inputs":{"from":"@variables('listCust')","select":{"cust":"@item()?['cust']"}}}}},"connectionReferences":{"shared_sharepointonline":{"connectionName":"shared-sharepointonl-c74d3eb8-7ee7-4a42-85ed-3f538e7c9872","source":"Invoker","id":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","tier":"NotSpecified"},"shared_office365":{"connectionName":"shared-office365-41b624b1-357a-4278-a9bc-da0062995da7","source":"Invoker","id":"/providers/Microsoft.PowerApps/apis/shared_office365","tier":"NotSpecified"},"shared_wordonlinebusiness":{"connectionName":"shared-wordonlinebus-16d7f54f-b8fc-4c23-9926-54b619d8bb02","source":"Invoker","id":"/providers/Microsoft.PowerApps/apis/shared_wordonlinebusiness","tier":"NotSpecified"}},"flowFailureAlertSubscribed":false,"isManaged":false}}